<div class="center hero-unit">
  <h1>❀五反田ランチマップ❀</h1>

  <h2>
    なんのリンクに貼り直すかは未定
    <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
    lunch_map application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

