<div class="center hero-unit">
  <h1>Sample Appにようこそ！（もうすぐランチマップになります）</h1>

  <h2>
    今は仮でチュートリアルのリンク張ってますが、食べログにしようかな
    <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
    lunch_map application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

