<% provide(:title, @user.name) %>
<div class="row"> <!--bootstruapの一部-->
  <aside class="span4"><!--bootstruapの一部-->
    <section>
      <h1>
        <%= @user.name %>
        <br>
        <%= gravatar_for @user %>
      </h1>
    </section>
  </aside>
</div>
