<% provide(:title, 'All restaurants') %>
<h1>All restaurants</h1>

<ul class="restaurants">
  <% @restaurants.each do |restaurant| %>
    <li>
    <%= link_to restaurant.name, restaurant %>
    </li>
  <% end %>
</ul>
