<%= provide(:title, @restaurant.name) %>
<div class="row">
  <aside class="span4">
  <section>
  <h2>詳細情報</h2>
  <p>
  ※ここに画像を入れたい
  <br>

  店舗名:<%= @restaurant.name %>
  <br>
  電話番号:<%= @restaurant.phone %>
  <br>
  住所:<%= @restaurant.address %>
  </p>
  </section>
  </aside>
</div>
